<% layout("/layouts/boilerplate") %>

<div class="col-5 offset-3">


<h1>Forgot Password</h1>
<form action="/forgot-password" method="POST">
    <label for="email">Enter your email:</label>
    <input type="email" name="email" required class="form-control">
    <button class="btn btn-primary mt-2">Reset Password</button>
</form>

</div>